.usercontent{
  background-color: rgb(252,227,77);
  word-wrap: break-word;
  border-radius: 5px;
  text-align: right;
  clear: right;
  margin-bottom: 5px;
}

.userimage{
    /* background-color: pink; */
    height:50px;
}
/*
.userContentWrapper{
  justify-content: flex-end;
}
*/
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.redFont{
  color: red;
}
.greenFont{
  color: green;
}
.purpleFont{
  color: purple;
}
.blueFont{
  color: blue;
}