.chatbot{
  background-color: rgb(192,209,219);
  width: 600px;
  height: 700px;
}

.messageBox{
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 639px;
  overflow: auto;
}

.inputArea{
  position: absolute;
  bottom: 40px;
}

.textInput{
  margin-left: 20px;
  margin-right: 10px;
  padding-right: 5px;
  width: 500px;
}

.botMsgContainer{
  margin-left: 20px;
  margin-bottom: 15px;
}

.botMsgHeader{

}

.botMsg{
  background-color: white;
  display: inline-block;
  max-width: 550px;
  word-wrap: break-word;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.userMsgContainer{
  margin-right: 20px;
  margin-bottom: 15px;
  overflow: hidden;
}

.userMsgHeader{
  float: right;
  clear: both;
}

.userMsg{
  background-color: rgb(252,227,77);
  display: inline-block;
  max-width: 550px;
  word-wrap: break-word;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  float: right;
  clear: both;
}

.questionList{
  margin-left: 20px;
  margin-right: 20px;
  padding:0;
  list-style-type:none;
}

.questionText{
  text-align: center;
}

.questionBtn{
  display:inline-block;
  float: none;
  padding-right: 10px;
}
.buttonText{
  font-size: 20px;
}
