.sidebox {
    height: 100vh;
    background-color: rgb(255, 209, 219);
}

.table-wrapper {
    margin-top: 16px !important;
}

.table-wrapper .table-title {
    font-size: 18px;
    font-weight: 600;
    padding: 2px;
    text-decoration: underline;
}

.sidebox .table-wrapper .celled.table {
    width: 80%;
    margin: auto;
    text-align: center;
}

.vocab-list{
    height: 80%;
    overflow: auto;
}

/* .correction-guide {
    position: fixed; 
    bottom: 16px;
} */

.spelling{
    color: red;
}
.spacing{
    color: green;
}
.incorrect-vocab{
    color: purple;
}
.statistical-correction{
    color: blue;
}